{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Welcome to Django Blog!</title>
    <link rel="stylesheet" href="{% static 'pages/css/base_index.css' %}">
    <!-- icon -->
    <link rel="icon" href="https://png.icons8.com/ios/100/000000/language-filled.png">

  </head>

  <body id="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div id="landing-container" role="main" class="inner cover">
        <div class="container text-center">
          <h1 class="cover-heading">Hello...</h1>
          <h2 class="cover-heading">Welcome to Django Blog!</h2>
          <p class="lead">Web app build with Django, SQLite, and Bootstrap! Documentation, and more detailed information could be found on github repo.</p>
          <p class="lead">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/blog" class="btn btn-lg btn-success">Blog</a>
              <a href="https://github.com/aakatev/django-blog" class="btn btn-lg btn-primary">Github</a>
            </div>
          </p>
        </div>
      </div>

      <footer class="mastfoot mt-auto container text-center">
        <div class="inner">
          <p>Created by <a class="text-white" href="https://github.com/aakatev">Artem Akatev</a>.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
